.content-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-wrap: wrap;
    flex: 1 1 0px;

    @media only screen and (max-width: 500px) {
        margin-top: 25px;
        margin-bottom: 25px; 
    }
}

.no-mobile {
    @media only screen and (max-width: 500px) {
        display: none;    
    }
}